<!-- source: https://github.com/mfg888/Responsive-Tailwind-CSS-Grid/blob/main/index.html -->

<body class="bg-gray-100">

  <nav class="bg-white border-gray-200 dark:bg-gray-900 fixed top-0 left-0 right-0 z-50 shadow">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-l p-2">
      <div class="flex-1 flex justify-center mr-auto">
        <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="images/SNEAKZ.png" class="h-20" alt="Sneakz Logo" />
        </a>
      </div>
      <a routerLink="/cart">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
             fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z" />
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
        </svg>
      </a>
    </div>

  </nav>
  <br />
  <br />
  <br />
  <br />
  <br />
    <h2 class="text-xl font-bold text-gray-800 mb-4">My Wishlist</h2>
 



    <!-- ✅ Grid Section - Starts Here 👇 -->
    <section id="Products"
             class="w-fit mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-items-center justify-center gap-y-3 gap-x-3 mt-10 mb-5">


      <!--   ✅ Product card 1 - Starts Here 👇 -->
      <div *ngFor="let product of products" class="w-72 bg-gray-100 duration-500 hover:scale-105 hover:shadow-xl">

        <a [routerLink]="['/product', product.id]">
              <div>
                <img src="{{product.images[1]}}" alt="Product" class="d-block w-72 h-64 object-cover t-xl" />
              </div>
          <div class="px-4 py-3 w-40 ">
            <span class="text-gray-400 mr-3 uppercase text-xs">{{ product.brand.brandName }}</span>
            <p class="text-lg font-bold text-black truncate block capitalize">{{ product.name }}</p>
            <div class="flex items-center">
              <p class="text-lg font-semibold text-black cursor-auto my-3">₹{{product.price}}</p>
              
            </div>
          </div>
        </a>
      </div>
    </section>

</body>

